/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*.pageAccueil{
    -fx-background-image: url('../Ressources/backgroundaccueil2.jpg');
    -fx-background-size:cover;
}

.pageDetails{
    -fx-background-image: url('../Ressources/backgroundDetails.jpg');
    -fx-background-size:cover;
}*/


.scroll-pane {
    -fx-background-color: transparent;
}
/** table View */
.content-gproduit {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-background-radius: 7px; 
    -fx-padding: 15px;
    -fx-font-family: "Century Gothic";
}


.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1;
    -fx-font-size: 15px;


}
.vbImageTranslation{
    -fx-background-color: blue;
}

.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 60;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-background-color: transparent;


}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: #fff;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{  
    -fx-alignment: CENTER_LEFT;

}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 0 0 1 0;


}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 60px;
    -fx-border-color: #fff;
    -fx-padding: 0;

}
.table-row-cell:selected, .tree-table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-text-background-color: #333;
}
.table-row-cell:selected, .tree-table-row-cell:hover {
    -fx-background-color: #e1e1e1;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}


.table-view .button {
    -fx-background-color: #ff5370;
    -fx-font-size: 15;
    -fx-text-fill: #fff;
}
.table-view .button:hover {
    -fx-cursor: hand
}


/** end tableView **/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 0;
}

.list-cell {
    -fx-background-color: #e1e1e1;;

    -fx-font: bold italic 10pt "Arial";
}

.list-view {
    -fx-background-color: transparent;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;


}
.date-picker-popup .spinner-label {
    -fx-font-size: 14.0;
}


.titleImage{
    -fx-background-repeat: stretch; 
    -fx-background-position: center center;
}
/** dialog styling */
/*
Dialog
*/
.top-dialog {
    -fx-alignment: CENTER_RIGHT;
    -fx-background-color: #fff;
}
.button-dialog-close {
    -fx-background-color: #fff;
    -fx-border-color: #fff;

}
.button-dialog-close:hover {
    -fx-background-color: #ff3333;
    -fx-border-color: #ff3333;
    -fx-text-fill: #fff
}
.content-dialog {
    -fx-padding: 15;
    -fx-border-color: #b1b1b1;
    -fx-font-family: "Century Gothic";
}
.header-dialog {
    -fx-padding: 5 25 45
}
.content-dialog-left {
    -fx-padding: 15 25;
}
.content-dialog-right {
    -fx-padding: 15 55;
}
.context-menu {
    -fx-background-radius: 0.5em;
    -fx-text-fill: white;

}
.menu-item > .label {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: black;
    -fx-padding: 0em 0.5em 0em 0em;
}

.menu-item:focused {
    -fx-background: -fx-selection-bar;
    -fx-background-color: #e1e1e1;
    -fx-text-fill:  -fx-text-background-color;
}

.menu-item:focused > .label {
    -fx-text-fill: white;
}

/** tabpane*/

.tab-header-background{
    -fx-background-color: transparent;
}



.tab-pane .tab
{
    -fx-background-color: #e1e1e1;
    -fx-pref-width: 23em;
    -fx-padding: 0.416667em 0.416667em 0.166667em 0.0em; /* 5 5 2 0 */
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-alignment: CENTER;

}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 250.0;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 17px


}

.tab-pane .tab:selected
{
    -fx-border-color: #4099ff;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent
}





/* hamburger */
.jfx-hamburger-icon{
    -fx-spacing:7;
}
.jfx-hamburger-icon StackPane{
    -fx-background-color:  #263544;
    -fx-background-radius: 5px;
}
/* image accueil */
.image-accueil{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 5em;
    -fx-alignment: center ;
    -fx-padding: 50 20 40 40;
    -fx-spacing: 50;

}

.font-button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-color: linear-gradient(to bottom, repeat, #0099ff , #66ccff  );
    -fx-text-fill: white ;
}

.image-detail{

    -fx-hgap: 20px;
    -fx-padding: 40px;


    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}

.transparent-back{
    -fx-background-color: transparent;
}

.popup-editor > .border {
    -fx-stroke: linear-gradient(to bottom, rgb(217,217,217), rgb(157, 157, 157)) ;
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(255.0,255.0,255.0, .95);
    -fx-effect: dropshadow(gaussian, lightgray, 6.0, 0.0, 1.0, 1.0);
}

.notification-bar>.pane {
    -fx-background-image: url('../images/Evenement/original.gif');
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0, 1, 2;
}



.notification-bar>.pane .label {
    -fx-font: bold 20pt "Arial";
    -fx-text-fill: white;
    -fx-alignment: center;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;

}

.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}



.combo-box{
    -fx-font-size: 14;
    -fx-pref-height: 25;


}

.text-field {
    -fx-font-size: 14;
    -fx-pref-height: 25;

}
.text-field:focused {
    -fx-background-color: white;
}

.text-area {
    -fx-font-size: 15;
}
.text-area:focused {
    -fx-background-color: white;
}


.button-save {
    -fx-background-color: #234b86;
    -fx-text-fill: #fff;
    -fx-pref-width: 120;
    -fx-pref-height: 42
}
.button-close {
    -fx-background-color: #dfdfdf;
    -fx-pref-width: 120;
    -fx-pref-height: 42;
}


.sidebar {
    -fx-background-color: #263544;
}

.sidebar .label {
    -fx-padding: 15px;
    -fx-text-fill: #cfcfcf
}
.sidebar .link-button {
    -fx-text-fill: #cfcfcf;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 15px;
    -fx-cursor: hand;    

}
.sidebar .icon-button {
    -fx-fill: #cfcfcf;
}

.sidebar .dropdown-button {
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #AAAAAA;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14;
    -fx-padding: 0 0 0 40;
    -fx-background-color: rgba(0,0,0,0.1);

}
.sidebar .dropdown-button:hover ,.sidebar .dropdown-button:focused {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #4099ff
}
.sidebar .link-button:hover ,.sidebar .link-button:focused  {
    -fx-text-fill: #fff;
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #4099ff
}
.sidebar .link-button:hover  .icon-button {
    -fx-fill: #fff;
}
.slidingBox{
    -fx-background-color: orange;
}





.red{

    -fx-background-color: linear-gradient(#ff5400,#be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}

#green
{
    -fx-background-color:#fff;
            
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
   -fx-text-fill: #395306;

}

.sale
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    
    -fx-background-color:#fff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

.sale:hover
{

    -fx-background-color:#CFA671;
    -fx-text-fill: white;
}

.sale:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

#blue {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
#yellow {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dcca8a, #c7a740),
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#yellow Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}
#iphone-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}
#iphone {
    -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
#iphone Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}
#ipad_d {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#ipad_d Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}
#ipad_g {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
            linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#ipad_g Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
#lion_d{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#lion {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#windows7_d {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
#windows7 {
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#bevel_g {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#glass_g {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#dark_b {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#dark_b {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

#shiny_o {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}